*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:aliceblue;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}

hr{
  margin: 0.5rem 0;
  color: grey;
  height: 4px;
  background-color: #dedede;
}